= simple_form_for @candidate, url: "/candidates" do |form|
  .panel.panel-default
    .panel-heading
      = I18n.t("candidate.evaluation_title")
    .panel-body
      .row.form-group
        .col-xs-6
          = form.input :name, required: true
        .col-xs-6
          = form.input :email, placeholder: I18n.t("placeholders.email"), required: true, as: :email
      .row
        .col-xs-12
          .panel.panel-default
            .panel-heading
              = I18n.t("candidate.knowledge_technologies")
            .panel-body
              .row
                - Candidate.technology_options.each do |technology|
                  .col-xs-6.col-sm-4.col-md-3.form-group
                    = form.input technology, as: :integer, input_html: {min: 0, max: 10, value: @candidate.send(technology) || 0}, |
                      label: I18n.t("simple_form.labels.candidate.#{technology}")
    .panel-footer.text-right
      = form.button :submit, I18n.t("simple_form.labels.candidate.confirm"), class: "btn btn-primary"
